<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/task
   		http://www.springframework.org/schema/task/spring-task-4.0.xsd
		http://code.alibabatech.com/schema/dubbo        
		http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- 扫描  只扫 @Controller -->
	<context:component-scan base-package="cn.itcast" use-default-filters="false">
		<!-- 黑名单 -->
<!-- 		<context:exclude-filter type="annotation" expression=""/> -->
		<!-- 白名单 -->  
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<!-- 处理器映射器  处理器适配器   -->
	<mvc:annotation-driven />
	<!-- 视图解释器 -->
	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/front_page/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	
	<!-- Converter转换器  去掉空格    如果是空串   转成 null -->
	<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<!-- 多个Converters -->
		<property name="converters">
			<list>
				<bean class=" cn.itcast.common.convertion.CustomTrimConverter"/>
<!-- 				<bean class="转换日期"></bean> -->
<!-- 				<bean class="转换日期"></bean> -->
<!-- 				<bean class="转换日期"></bean> -->
<!-- 				<bean class="转换日期"></bean> -->
<!-- 				<bean class="转换日期"></bean> -->
<!-- 				<bean class="转换日期"></bean> -->
<!-- 				<bean class="转换日期"></bean> -->
			</list>
		</property>
	</bean>
	
	<!-- 拦截器（自定义） 判断用户是否登陆 
	/product/display/sfsdfsf/list.shtml  /shopping/login.aspx /shopping/buyerCart.shtml /buyer/trueBuyer.shtml-->
	<mvc:interceptors>
		<!-- 配置多个拦截器 -->
		<mvc:interceptor>
			<mvc:mapping path="/*/**"/>
			<bean class="cn.itcast.core.web.SpringmvcInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	
	
	
	<!-- 引入服务器消费方配置文件 -->
	<import resource="dubbo-consumer-front.xml"/>
		
</beans>